body {
    font-family: "Google Sans Flex", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    color: #000;
  }

  main {
    flex-grow: 1;
  }

  a, a:hover, a:focus, a:visited {
    color: #97712e;
    text-decoration:none;
  }


  .title {
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white !important;
    color: black;
  }

  .title h3 {
    /* Font is now handled by the body, removing specific override here */
  }

  .large-icon:hover {
    color: rgb(190, 190, 190);
  }

  ul.social-icons {
    padding-left: 0;
  }

  ul.social-icons li {
    display: inline;
    padding-right: 5px;
  }

  .social-links-text {
    font-size: x-large;
    text-decoration: underline;
  }

  footer {
    background-color: white;
    color: black;
  }

  .corner-button{
    right:0px;
    position: absolute;
}
