body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(252, 248, 238);
    color: #000;
  }

  main {
    flex-grow: 1;
  }

  a, a:hover, a:focus, a:visited {
    color: #97712e;
    text-decoration:none;
  }


  .title {
    font-optical-sizing: auto;
    font-style: normal;
    background-color: white !important;
    color: black;
  }

  .title h3 {
    
  }

  .large-icon {
    font-size: 36px;
    color: rgb(153, 153, 153);
  }

  .large-icon:hover {
    color: rgb(190, 190, 190);
  }

  ul.social-icons {
    padding-left: 0;
  }

  ul.social-icons li {
    display: inline;
    padding-right: 5px;
  }

  footer {
    background-color: white;
    color: black;
  }

  .corner-button{
    right:0px;
    position: absolute;
}
